.about-us {
  width: auto;
}

.about-us__wrapper {
  max-width: 1420px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
  padding-top: 27px;
  box-sizing: border-box;
}
