.features {
  width: auto;
}

.features__wrapper {
  max-width: 1420px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
  padding-top: 27px;
  box-sizing: border-box;

  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 1171px;
    min-width: 320px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }

  li {
    position: relative;
    flex-grow: 1;
    flex-basis: 400px;
    max-width: 570px;
    min-height: 299px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 95px;
    padding-left: 42px;
    padding-right: 44px;
    border: 1px solid #ebebeb;
    border-left: 3px solid #00b2ff;
    box-sizing: border-box;
    background-color: #ffffff;

    &:nth-child(2n) {
      margin-left: 30px;
    }

    svg {
      position: absolute;
      top: 40px;
      left: 43px;
    }

    p {
      font-family: "PT Mono", "Times New Roman", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #666666;
      white-space: pre-wrap;
    }

    h3 {
      margin: 0;
      padding: 0;
      font-family: "Roboto Condensed", "Arial", sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: normal;
      line-height: 34px;
      color: #00b2ff;
    }

    &:hover {
      background-color: #00b2ff;

      svg {
        fill: #ffffff;
      }

      p,
      h3 {
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 1023px) {
  .features {
    position: relative;
    top: -55px;
  }

  .features__wrapper {
    max-width: 770px;
    min-width: 320px;
    padding: 0 25px;
    padding-top: 25px;

    ul {
      max-width: 720px;
      min-width: 320px;
    }

    li {
      flex-basis: 200px;
      max-width: 345px;
      min-height: 230px;
      margin-bottom: 30px;
      padding-top: 65px;
      padding-left: 25px;
      padding-right: 20px;

      &:nth-child(2n) {
        margin-left: 30px;
      }

      svg {
        position: absolute;
        top: 21px;
        left: 23px;
      }

      p {
        padding: 0;
        margin: 0;
        line-height: 22px;
      }

      h3 {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  .features {
    position: relative;
    top: -55px;
  }

  .features__wrapper {
    max-width: 320px;
    min-width: 320px;
    padding: 0 15px;
    padding-top: 7px;
    box-sizing: border-box;

    ul {
      max-width: 320px;
    }

    li {
      flex-basis: 290px;
      flex-grow: 0;
      max-height: 310px;
      margin-bottom: 20px;
      padding-top: 71px;
      padding-bottom: 24px;
      padding-left: 24px;
      padding-right: 12px;

      &:nth-child(2n) {
        margin-left: 0;
      }

      &:nth-last-of-type(2) {
        padding-bottom: 14px;
      }

      &:nth-last-of-type(1) {
        padding-bottom: 4px;
      }

      h3 {
        width: 235px;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 10px;
      }
    }
  }
}
