.logo {
  display: block;
  position: relative;
  width: 202px;
  height: 52px;
}

.logo p {
  position: absolute;
  top: 6px;
  left: 67px;
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

.logo span {
  position: absolute;
  top: 36px;
  left: 67px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}

.logo--footer {
  width: 222px;
}

.logo--footer p,
.logo--footer span {
  color: #000000;
}
