.main-nav {
  width: 37px;
  height: 37px;
}

.main-nav__button {
  position: relative;
  width: 37px;
  height: 37px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 37px;
    height: 1px;
    background-color: #ffffff;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 11px;
    left: 0;
    width: 37px;
    height: 1px;
    background-color: #ffffff;
  }
}

@media (max-width: 1023px) {
  .main-nav__button {
    width: 37px;
    height: 37px;

    &::before {
      top: 9px;
    }

    &::after {
      bottom: 15px;
    }
  }
}
