.page-footer {
  width: auto;
  background: #FAFAFA;
}

.page-footer__wrapper {
  display: flex;
  max-width: 1415px;
  min-width: 320px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 28px;
  padding-top: 65px;
}

.page-footer__left-part {
  margin-right: 12.7%;
}

.page-footer__nav {
  padding: 0 20px;

  h3 {
    padding: 0;
    padding-left: 2px;
    padding-top: 1px;
    margin: 0;
    margin-bottom: 25px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1B2D37;
  }
}

.page-footer__nav-wrapper {
  display: flex;
  max-width: 516px;
  min-height: 101px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "PT Mono", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
  }

  a {
    text-decoration: none;
    color: #1B2D37;
    opacity: 0.5;
  }

  .page-footer__list-first {
    margin-right: 75px;
  }
}

.page-footer__contacts {
  margin-left: 15%;

  h3 {
    padding: 0;
    padding-left: 2px;
    padding-top: 1px;
    margin: 0;
    margin-bottom: 25px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1B2D37;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  a,
  span {
    text-decoration: none;
    color: #1B2D37;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "PT Mono", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #1B2D37;
    opacity: 0.5;
  }
}

.page-footer__bottom {
  border-top: 1px solid #dddddd;

  p {
    display: flex;
    max-width: 1415px;
    min-width: 320px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 13px;
    padding-bottom: 14px;
    vertical-align: middle;
  }

  a {
    font-family: "PT Mono", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #1B2D37;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.5;
  }

  .page-footer__low {
    margin-right: 5.2%;
  }

  .page-footer__years {
    margin-right: 10.1%;
  }

  .page-footer__conf {
    margin-right: auto;
  }
}

