.page-main {
  width: auto;
  background-color: #ffffff;
  box-sizing: border-box;
  background-image: url("../img/middletrangles.png");
  background-repeat: no-repeat;
  background-position: left calc(50%) top calc(50% - 395px);
}

@media (max-width: 1023px) {
  .page-main {
    width: auto;
    background-color: #ffffff;
    box-sizing: border-box;
    background-image: url("../img/middletrangles.png");
    background-repeat: no-repeat;
    background-position: left calc(50% + 228px) top calc(50% - 565px);
  }
}

@media (max-width: 767px) {
  .page-main {
    background-image: none;
  }
}
