.phone-link {
  display: block;
  width: 184px;
  height: 18px;
  padding-left: 33px;
  font-family: "PT Mono", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;

  &:hover {
    opacity: 0.5;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/phone-call.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 1023px) {
  .phone-link {
    width: 24px;
    height: 24px;
    font-size: 0;
    padding-left: 0;

    &::before {
      top: -5px;
      left: 0;
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
    }
  }
}

@media (max-width: 767px) {
  .phone-link {
    &::before {
      top: -12px;
    }
  }
}
