.question-form {
  width: auto;
  background-color: #00b2ff;
  background-image: url("../img/airplane@1x.png"), url("../img/twintrangle@1x.png"), url("../img/questtrangles.png");
  background-repeat: no-repeat;
  background-position: right calc(50% + 355px) top 42.5%, right calc(50% + 450px) top 48%, left calc(50% + 850px) top 36px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .question-form {
    background-image: url("../img/airplane@2x.png"), url("../img/twintrangle@2x.png");
    background-size: 511px auto, 670px auto;
  }
}

.question-form__wrapper {
  max-width: 1171px;
  min-width: 320px;
  min-height: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
  padding-top: 90px;
  padding-bottom: 30px;
}

.question-form__content {
  width: 574px;
  margin-left: auto;

  p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 36px;
    line-height: 51px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
  }

  > span {
    display: block;
    margin-left: 5px;
    margin-bottom: 52px;
    font-family: "PT Mono", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
}

.question-form__form {
  display: flex;
  width: 570px;
  margin-left: auto;
  flex-wrap: wrap;
  justify-content: space-between;

  input[type="text"],
  input[type="tel"] {
    width: 270px;
    height: 50px;
    margin-bottom: 40px;
    padding-left: 15px;
    font-family: "PT Mono", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    border: 1px solid #19baff;
    background-color: #19baff;
    border-radius: unset;
    box-shadow: unset;
    box-sizing: border-box;

    &::placeholder {
      color: #ffffff;
      opacity: 1;
    }

    &:hover {
      background-color: #0d648a;
    }
  }

  textarea {
    width: 570px;
    height: 154px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-left: 15px;
    font-family: "PT Mono", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    border: 1px solid #19baff;
    background-color: #19baff;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
    border-radius: unset;
    box-shadow: unset;

    &::placeholder {
      color: #ffffff;
      opacity: 1;
    }

    &:hover {
      background-color: #0d648a;
    }
  }
}

.question-form__check {
  position: relative;
  width: 235px;
  padding-top: 7px;
  padding-left: 5px;
  font-family: "PT Mono", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover > .question-form__check-indicator {
    background-color: #0d648a;
  }
}

.question-form__check-indicator {
  display: block;
  position: absolute;
  top: 9px;
  left: -27px;
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  box-sizing: border-box;

  &::before {
    content: "";
    display: none;
    position: absolute;
    top: 6px;
    left: 2px;
    width: 5px;
    height: 1px;
    transform: rotate(45deg);
    background-color: #ffffff;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    top: 6px;
    left: 5px;
    width: 7px;
    height: 1px;
    transform: rotate(-44deg);
    background-color: #ffffff;
  }
}

.question-form__checkbox:checked + .question-form__check-indicator::before,
.question-form__checkbox:checked + .question-form__check-indicator::after {
  display: block;
}

.question-form__checkbox:focus + .question-form__check-indicator {
  outline: 2px solid #0d648a;
}

@media (max-width: 1023px) {
  .question-form {
    width: auto;
    background-color: #00b2ff;
    background-image: none;
  }

  .question-form__wrapper {
    max-width: 100%;
    min-height: 558px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
    padding-top: 76px;
    padding-bottom: 30px;
  }

  .question-form__content {
    width: 100%;
    padding-left: 65px;
    padding-right: 64px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    p {
      margin-bottom: 14px;
      font-family: "Roboto Condensed", "Arial", sans-serif;
      font-size: 32px;
      line-height: 51px;
      font-style: normal;
      font-weight: normal;
      color: #ffffff;
    }

    > span {
      margin-bottom: 54px;
      font-family: "PT Mono", "Times New Roman", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
    }
  }

  .question-form__form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    padding-left: 2px;
    flex-wrap: wrap;

    div {
      flex-basis: 270px;
      flex-grow: 1;
    }

    .question-form__question {
      flex-basis: 100%;
      flex-shrink: 1;
    }

    input[type="text"],
    input[type="tel"] {
      width: 100%;
      height: 52px;
      margin-bottom: 42px;
      padding-left: 15px;
      font-family: "PT Mono", "Times New Roman", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
      border: 1px solid #19baff;
      background-color: #19baff;
      box-sizing: border-box;
    }

    .question-form__phone {
      margin-left: 31px;
    }

    textarea {
      width: 100%;
      height: 159px;
      margin-bottom: 40px;
      padding-top: 10px;
      padding-left: 15px;
      font-family: "PT Mono", "Times New Roman", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
      border: 1px solid #19baff;
      background-color: #19baff;
      box-sizing: border-box;
      overflow: auto;
    }
  }

  .question-form__check {
    position: relative;
    width: 237px;
    padding-top: 9px;
    padding-left: 0;
    font-family: "PT Mono", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .question-form__check-indicator {
    display: block;
    position: absolute;
    top: 9px;
    left: -35px;
    width: 18px;
    height: 16px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
  }
}

@media (max-width: 767px) {
  .question-form {
    background-image: none;
  }

  .question-form__wrapper {
    width: 100%;
    min-height: 640px;
    padding: 0 11px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
  }

  .question-form__content {
    width: 100%;
    padding-left: 1px;
    padding-right: 4px;

    p {
      margin-bottom: 12px;
      padding-left: 3px;
      font-family: "Roboto Condensed", "Arial", sans-serif;
      font-size: 28px;
      line-height: 40px;
      font-style: normal;
      font-weight: normal;
      color: #ffffff;
    }

    > span {
      margin-bottom: 25px;
      font-family: "PT Mono", "Times New Roman", serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
    }
  }

  .question-form__form {
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: none;
    justify-content: unset;
    width: 100%;
    margin-left: 0;
    padding-left: 4px;
    box-sizing: border-box;

    div {
      flex-basis: auto;
      flex-grow: 1;
    }

    .question-form__question {
      flex-basis: 100%;
      flex-shrink: 1;
    }

    input[type="text"],
    input[type="tel"] {
      width: 100%;
      height: 52px;
      margin-bottom: 30px;
      padding-left: 15px;
    }

    .question-form__phone {
      margin-left: 0;
    }

    textarea {
      width: 100%;
      height: 104px;
      margin-bottom: 26px;
    }
  }

  .question-form__button {
    margin-bottom: 20px;
  }

  .question-form__check {
    position: relative;
    width: 237px;
    padding-top: 9px;
    padding-left: 34px;
  }

  .question-form__check-indicator {
    left: 0;
  }
}
