.representation {
  position: relative;
  top: -85px;
  z-index: 0;
  max-width: 1920px;
  min-height: 881px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 315px;
  padding-left: 249px;
  background-color: #1B2D37;
  background-image: url("../img/image2.png");
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.representation::before {
  content: "";
  position: absolute;
  top: 112px;
  right: 221px;
  width: 666px;
  height: 654px;
  background-image: url("../img/G17.png");
  background-repeat: no-repeat;
  background-position: center;
}

.representation__header {
  position: relative;
  z-index: 2;
  width: 718px;
}

.representation__header b {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 27px;
  text-transform: uppercase;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  color: #ffffff;
}

.representation__header p {
  position: relative;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  padding-left: 99px;
  font-family: "PT Mono", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;
}

.representation__header p::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 4px;
  width: 66px;
  height: 2px;
  background-color: #ffffff;
}

.representation__button {
  margin-left: 99px;
}

.representation img {
  position: absolute;
  top: 259px;
  right: 176px;
  z-index: 1;
  width: 705px;
  height: 515px;
}

.representation span {
  position: absolute;
  bottom: 130px;
  left: 215px;
  font-family: "PT Mono", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;
  transform: rotate(-90deg);
}
