.representation {
  position: relative;
  top: -85px;
  z-index: 0;
  width: auto;
  min-height: 878px;
  padding-top: 315px;
  background-color: #1b2d37;
  background-image: url("../img/background@1x.png"), url("../img/plates@1x.png"), url("../img/twintrangle@1x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%, auto, auto;
  background-position: center top, left calc(50% + 430px) bottom 29%, left calc(50% + 405px) bottom 31.7%;
  box-sizing: border-box;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .representation {
    background-image: url("../img/background@2x.png"), url("../img/plates@2x.png"), url("../img/twintrangle@2x.png");
    background-size: 2249px auto, 707px auto, 670px auto;
  }
}

.representation__header {
  position: relative;
  max-width: 1420px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
  z-index: 2;

  .representation__link {
    position: absolute;
    bottom: -148px;
    left: -5px;
    font-family: "PT Mono", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.5;
    transform: rotate(-90deg);

    &:hover {
      opacity: 1;
    }
  }

  b {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 27px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    color: #ffffff;
  }

  p {
    position: relative;
    max-width: 680px;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
    padding-left: 99px;
    font-family: "PT Mono", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      top: 16px;
      left: 4px;
      width: 66px;
      height: 2px;
      background-color: #ffffff;
    }
  }
}

.representation__button {
  margin-left: 99px;
}

@media (max-width: 1023px) {
  .representation {
    top: -85px;
    z-index: 0;
    min-height: 686px;
    padding-top: 189px;
    background-size: 100% 100%, 468px auto, 528px auto;
    background-position: center top, left calc(50% + 358px) bottom 67.5%, left calc(50% + 320px) bottom 75%;
    box-sizing: border-box;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .representation {
      background-image: url("../img/background@2x.png"), url("../img/plates@2x.png"), url("../img/twintrangle@2x.png");
      background-size: 2249px auto, 707px auto, 670px auto;
    }
  }

  .representation__header {
    max-width: 720px;
    min-width: 320px;
    padding: 0 25px;
    z-index: 2;

    .representation__link {
      display: none;
    }

    b {
      width: 350px;
      margin: 0;
      padding: 0;
      margin-bottom: 27px;
      padding-left: 64px;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: 0.07em;
    }

    p {
      max-width: 400px;
      margin-bottom: 55px;
      padding-left: 115px;
      font-size: 18px;
      line-height: 29px;

      &::before {
        top: 17px;
        left: 66px;
        width: 33px;
        height: 2px;
      }
    }
  }

  .representation__button {
    margin-left: 115px;
  }
}
